body{
	background-color: #b2bbc3;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

header{
	background-color: #86939f;
	width: 100%;
	height: 3em;
	position: fixed;
	opacity: 0.9;
}

h1{
	font-weight: 700;
	line-height: 100%;
	font-size: 22px;
}

ul{
	list-style: none;
}

.navbar{
	color: white;
	margin-right: 2em; 
}

.navbar ul{
	float: right;
}

.navbar .exit{
	margin-right: 2em;
	margin-left: 1.2em;
	letter-spacing: 0.05em;
	font-size: 1em;
}

.navbar li{
	display: inline-block;
	margin-left: 0.8em;
}

.navbar li:hover{
	color: #fff200;
}

.sidebar{
	width: 16.875em;
	/*position: fixed;*/
	background-color: #4c4e4d;
	margin: 6rem 1.5rem;
	float: left;
}

.sidebar .topic{
	color: #222222;
	background-color: #fff200;
	padding: 20px;
}

.sidebar .topic p{
	font-weight: 300;
	font-size: 12px;
	color: #4c4e4d;
	line-height: 80%;
}

.sidebar .list{
	overflow-y: auto;
}

.sidebar .arrows{
	text-align: center;
	color: white;
	font-size: 12px;
	line-height: 80%;
}

.content{
	/*width: 57.7%;*/
	max-width: 1000px;
	background-color: white;
	margin-top: 6rem;
	font-size: 15px;
}

.content p{
	padding: 0em 4rem;
	color: grey;
}

.content p:last-child{
	padding-bottom: 4rem;
}

.content h1{
	padding: 3em 0 0 4rem;
}

.pagenav{
	background-color: #fff200;
	text-align: center;
	line-height: 200%;
	font-size: 14px;
	color: grey;
}

.pagenav .left{
	text-align: left;
}

.pagenav .right{
	text-align: right;
}

@media all and (max-width: 768px){
	.content{
		margin: 1em 0;
	}
	.sidebar{
		width: 100%;
		margin: 3em 0 0 0;
		float: left;
	}
}